body {
  background-color: cyan;
}

.contorno {
  width: 400px;
  height: 700px;
  background-color: #a6c1d6;
  border: solid black 6px;
  border-radius: 300px 300px 75px 75px;
  margin: 0 auto;
}

#ojo {
    width: 200px;
    height: 200px;
    background-color: #fefac2;
    border-radius: 50%;
    border: solid black 6px;
    position: relative;
}

.ojo1 {
  top: 250px;
  left: -100px;
}

.ojo2 {
  top: 40px;
  left: 60px;

}

.ojo1:before, .ojo2:before {
  width: 150px;
  height: 150px;
  background-color: #0e1312;
  border-radius: 50%;
  position: absolute;
  top: 27px;
  left: 40px;
  content: '';
}

.bocashoteamo {
  width: 300px;
  height: 120px;
  background-color: #fefac2;
  border: solid black 6px;
  position: relative;
  top: 80px;
  border-radius: 0px 50px 50px 0px;
  left: -6px;
}

hr {
  height: 1px;
  width: 295px;
  background-color: black;
  border: solid black;
  position: relative;
  top: 10px;
  margin-top: 30px;
}

vr {
  width: 6px;
  background-color: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.vr1 {
  left: 20px;
}
