body {
  background-color: cyan;
}

#cara {
  height: 250px;
  width: 250px;
  background-color: #F7C27B;
  position: absolute;
  top: 150px;
  left: 400px;
  clip-path: polygon(50% 1%, 77% 9%, 91% 30%, 92% 48%, 77% 82%, 51% 100%, 25% 83%, 9% 51%, 8% 33%, 23% 8%);

}

#pelo {
  height: 300px;
  width: 310px;
  background-color: black;
  position: absolute;
  top: 70px;
  left: 365px;
  clip-path: polygon(44% 23%, 40% 15%, 42% 8%, 50% 5%, 57% 7%, 58% 15%, 54% 23%, 62% 23%, 73% 27%, 81% 33%, 87% 43%, 91% 55%, 91% 74%, 77% 98%, 79% 81%, 79% 60%, 71% 50%, 71% 76%, 63% 46%, 51% 39%, 43% 40%, 32% 48%, 27% 76%, 24% 52%, 20% 99%, 12% 65%, 13% 43%, 25% 30%, 37% 25%);
}

.ojos {
  height: 30px;
  width: 20px;
  top: 90px;
  left: 50px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  border: 20px white solid;
}

.ojos:after {
  height: 30px;
  width: 20px;
  top: -19px;
  left: 60px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  border: 20px white solid;
  content: '';
}

#boca {
  height: 60px;
  width: 80px;
  background-color: #FE4F64;
  position: absolute;
  top: 300px;
  left: 482px;
  clip-path: polygon(11% 82%, 65% 83%, 84% 81%, 92% 70%, 80% 71%, 73% 76%, 43% 77%, 14% 77%);
}

#nariz {
  height: 70px;
  width: 30px;
  background-color: #FFB765;
  position: absolute;
  top: 280px;
  left: 505px;
  clip-path: polygon(54% 10%, 21% 63%, 22% 69%, 29% 74%, 52% 78%, 69% 66%);
}

.gafas {
  height: 80px;
  width: 80px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 430px;
}

.gafas:after {
  height: 80px;
  width: 80px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 90px;
  content: '';
}

#palitroque {
  height: 3px;
  width: 10px;
  background-color: black;
  opacity: 50%;
  position: absolute;
  top: 280px;
  left: 515px;
}

.septums {
  height: 30px;
  width: 35px;
  background-color: black;
  position: absolute;
  top: 318px;
  left: 502px;
  clip-path: polygon(38% 89%, 26% 65%, 30% 47%, 40% 38%, 60% 39%, 71% 50%, 72% 69%, 61% 90%, 84% 68%, 85% 51%, 80% 33%, 63% 21%, 37% 22%, 24% 30%, 15% 53%, 16% 71%);
}

#septum2 {
  background-color: red;
  top: 322px;
  left: 509px;
  height: 18px;
  width: 20px;
}

.bridge {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 510px;
}

.bridge:after {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 12px;
}
